<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" />
    <title>Lite-Mirror-Software</title>
    <link href="/engine/ui/design.css" rel="stylesheet" />
    <script defer src="/socket.io/socket.io.js"></script>
    <script src="/engine/peerjs.min.js"></script>
    <script defer src="/engine/source.js"></script>
</head>
<body>
    <div class="container">
        <h1>Token : 143</h1>
    </div>
</body>
</html>